h1 {
    border: 5px solid black;
    border-radius: 10px;
    text-align: center;
}

.container {
    background-color: blue;
    height: 450px;
    width: 700px;
    background-image: url(/imagens/logo-cidade.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
}