* {
    margin: 10px;
}

h1 {
    margin-top: 70px;
    background-color: red;
    padding-top: 40px;
}

.link {
    background-color: rgb(110, 185, 187);
    color: #fff;
    padding: 5px 14px;
    text-decoration: none;
    border-radius: 5px;
}

.link:hover {
    background-color: rgb(98, 165, 167);
}